.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    color: white;
    justify-content: flex-start;
}

.activeContainer {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.activeItem {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.activeContainer img {
    padding-right: 10px;
}

.textContainer h1, h2 {
    margin-bottom: 0px;
}